<section>
  <article>
    <div class="container">
      <form>
            <div class="form-row ">
              <div class="col">
                  <label for="estado" >Estado</label>
                  <input  type="text" [(ngModel)]="estado.nome" name="nome" class="form-control"
                  placeholder="Informe o Estado" style="width:450px;"  #nome="ngModel" required minlength="4">
                  <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
                      <div *ngIf="nome.errors.required">
                        O estado é Obrigatório
                      </div>
                      <div *ngIf="nome.errors.minlength">
                       O estado deve ter no mínimo 4 caractéres
                      </div>
                      <!--<div *ngIf="nome.errors.forbiddenName">
                        Name cannot be Bob.
                      </div>-->
                  </div>


              </div>
              <div class="col">
                  <label for="sigla" >Sigla</label>
                  <input type="text"  [(ngModel)]="estado.sigla" name="sigla" class="form-control"
                  placeholder="Informe a Sigla" style="width:150px" #sigla=ngModel required minlength="2">

                  <div *ngIf="sigla.invalid && (sigla.dirty || sigla.touched)" class="alert alert-danger">
                    <div *ngIf="sigla.errors.required">
                      A sigla é Obrigatória
                    </div>
                    <div *ngIf="sigla.errors.minlength">
                     A sigla deve ter no mínimo 2 caractéres
                    </div>
                    <!--<div *ngIf="nome.errors.forbiddenName">
                      Name cannot be Bob.
                    </div>-->
                </div>

              </div>

            </div>
            <button (click)="salvarEstado()" class="btn btn-success" style="margin:2px">
              Salvar</button>

      </form>

    </div>
      <div class="container">
        <h3>Pesquisar Estado
          <button (click)="pageEstados(0,5)" class="btn btn-primary">Buscar All</button>
        </h3>
        <input type="text" [(ngModel)]="filtro" class="form-control" (keyup)="buscarPorNome()">
      </div>
      <div class="container">
            <h3 class="page-header">Lista de Estados

            </h3>
            <div class="table-responsive">

              <table class="table table-striped table-bordered table-hover table-dark" >
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Sigla</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of estados" >
                    <td >{{ item.nome }}</td>
                    <td  width="100">{{ item.sigla }}</td>
                    <td  width="200">

                      <button (click)="excluirEstado(item)" class="btn btn-danger" style="margin:1px"> Excluir</button>

                     <button (click)="editarEstado(item)" class="btn btn-info">Editar</button>

                    </td>

                  </tr>

                </tbody>
              </table>
              <pagination [page]="page" (paginationEvent)=changePage($event)></pagination>
              </div>
              </div>

 </article>
</section>
